body {
	background-color: #ddd;
}
@media (max-width: 767px) {
	body {
		background-color: white;
	}
}
@media (min-width: 768px) {
	body {
		background-image: url('/low_contrast_linen.png');
	}
}

@media (min-width: 980px) {
  body {
    padding-top: 80px;
  }
}
.navbar-inner-invoices {
	background-color: #f8f8f8; /* fallback color, place your own */
	background-image: none;
}
.navbar-inner-invoices .nav-left {
	margin-left: 12px !important;
}
@media (min-width: 980px) {
	.navbar-inner-invoices {
		padding-top: 10px;
		min-height: 50px !important;
	}
}
.navbar-inner-invoices a {
	color: #111 !important;
}
.navbar-inner-invoices .nav-left li a:active {
	border-radius: 4px;
	background-image: -webkit-linear-gradient(top, #eef, #dde);
}

.navbar-inner-invoices .nav-left li {
	border-radius: 4px;
	margin: 0 4px;
	border: 1px solid #ccc;

	background-image: -moz-linear-gradient(top, #ddf, #cce);
	background-image: -ms-linear-gradient(top, #ddf, #cce);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ddf), to(#cce));
	background-image: -webkit-linear-gradient(top, #ddf, #cce);
	background-image: -o-linear-gradient(top, #ddf, #cce);
	background-image: linear-gradient(top, #ddf, #cce);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddf', endColorstr='#cce', GradientType=0);
}
#openfull-btn {
	font-weight: bold;
	border: 1px solid #444;
}
.nav-login {
	padding: 8px 15px;
}
.box {
	background-color: white;
}
@media (min-width: 768px) {
	.box {
		border-radius: 5px;
		border: 1px solid #777;
		box-shadow: 2px 2px 4px 1px #222;
	}
}
.main-box > p,
.main-box > div,
.main-box > h3,
.main-box > h2,
.main-box > h1,
.main-box > button {
	margin-left: 20px;
}
footer {
	clear: both;
	padding-top: 30px;
	margin-top: 60px;
	margin-bottom: 0;
	background: white;
	height: 100px;
}
footer ul {
}
footer li {
	float: left;
	margin-right: 30px;
}
.redskyforge {
	margin-top: 30px;
	color: #222;
	text-align: center;
}
.redskyforge a {
	color: #500;
}
footer .small {
	font-size: 12px;
	color: #666;
}