.tab h3 {
	margin-top: 0;
}
ul {
	list-style-type: none;
	margin: 0;
}
.invoice {
	margin: 15px 15px 15px 0;
	padding: 10px;
	min-height: 400px;
}
.invoice h3 {
	margin: 0;
}
.invoice .badge {
	margin-bottom: 4px;
}
.subtotal, .total {
	width: 120px;
}
.invoice_number {
	width: 147px;
}
.date_due {
	width: 147px;
}
.tax {
	width: 120px;
}
.btn-save {
	float: left;
	margin-right: 10px;
}
.save-feedback {
	display: none;
	margin: 0 14px;
	padding-top: 4px;
	padding-bottom: 4px;
	float: left;
}

#exampleDropPane {
  text-align: center;
  padding: 20px;
  background-color: #F6F6F6;
  border: 1px dashed #666;
  border-radius: 6px;
  margin-bottom: 20px;
}

.upload-btn {
	height: 40px;
	width: 220px;
	margin: 10px 0 40px 0;
}

@media (min-width: 768px) {
	.light {
		color: #eee;
	}
}

#add-company-payment-method {
	width: 90%;
	margin: 10px;
	height: 100px;
}