.pricing-row {
	text-align: center;
}
.pricing-row h3 {
	padding-top: 10px;
	line-height: 30px;
}
.pricing-row h4 {
	color: #444;
}
.pricing-row a {
	margin: 10px;
}
.pricing-row li {
	padding: 8px;
}
.pricing-box {
	min-height: 560px;
}