.public-body {
	background-image: none !important;
	background-color: #f3f3f3;
}
.navbar-inner-public a {
	color: #111 !important;
	font-weight: bold;
}
.navbar-inner-public .nav-left a:hover {
	background-color: #ddd !important;
}
.public-box {
	padding: 20px 0px;
}
.freetrial-btn {
	height: 40px;
	width: 220px;
}
.trial-footer {
	margin: 30px 0 20px;
}
.trial-footer h4 {
	font-weight: normal;
}

.ipad {
	width: 620px;
	height: 600px;
	background-image: url('/girl-with-iPad-2k.jpg');
	background-size: cover;
	background-position: center;
}

.landing-top {
	width: 100%;
}
.landing-box {
	max-width: 1024px;
	margin: 0 auto;
}
.story-text {
	padding: 25px 10px 25px 30px;
	background: white;
	box-sizing: border-box;
	height: 600px;
}
.story-text h3 {
	font-size: 20.5px;
	line-height: 30px;
	margin-top: 20px;
}
.story-text h4 {
	margin: 20px 37px;
}
.story-text li {
	font-size: 19px;
	margin: 10px;
}
.resp-icons {
	width: 100%;
	padding: 8px 34px;
}
.resp-icons i {
	margin-right: 27px;
	color: #333355;
}
.screenshots-row {
	background: #335;
}
