@media (max-width: 767px) {
	.box {
		
	}
}
body {
	background-image: none;
}
@media (min-width: 980px) {
  body {
    padding-top: 30px;
  }
}

.ipad {
	width: 400px;
	height: 300px;
	background-image: url('/girl-with-iPad-2k.jpg');
	background-size: cover;
}
.main, .container {
	width: 100%;
}
.landing-top {
	width: 100%;
}
.story {
	background-color: white;
	height: 300px;
}
.story-text {
	padding: 20px;
	max-width: 600px;
}
.navbar-inner-public a {
	color: #111 !important;
	font-weight: bold;
}
.navbar-inner-public .nav-left a:hover {
	background-color: #ddd !important;
}
.main-box {
/*	padding: 20px;*/
}
.public-box {
	padding: 20px 0px;
}
.freetrial-btn {
	height: 40px;
	width: 220px;
}
.trial-footer {
	margin: 30px 0 20px;
}
.trial-footer h4 {
	font-weight: normal;
}