<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/732bd72042a5e036f61f6b3eb52eda8b411fc9c9.css">

  <script type="text/javascript" src="/29e3f345150b73246d237d9cce710ccf58967a34.js"></script>
  <link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<title>Invoice Management Software, with Invoice Runner</title>
  <meta name="viewport" content="initial-scale=1">
</head>
<body class="public-body">
  <div class="container">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner navbar-inner-public">
		<ul class="nav nav-left" id="hmenu">
			<li class="dropdown">
			  <a class=" btn btn-navbar dropdown-toggle" data-toggle="dropdown">
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </a>
				<ul class="dropdown-menu">
				  <li>
					<a href="/">Home</a>
				   </li>
				   <li>
					 <a href="/pricing">Plans and pricing</a>
				   </li>
				   <li>
					 <a class="freeTrialLink" href="/#freetrial">Sign up</a>
				   </li>
				</ul>
		   </li>
		</ul>
		<ul class="nav nav-left" id="vmenu">
		  <li>
			<a href="/">Home</a>
	      </li>
		  <li>
		    <a href="/pricing">Plans and pricing</a>
		  </li>
			<li>
				<a class="freeTrialLink" href="/#freetrial">Sign up</a>
			</li>
		 </ul>
		
        <ul class="nav pull-right nav-login">
          <li>
            <!-- enable JavaScript to login -->
          </li>
        </ul>
         
      </div>
    </div>

    <section class="main">
      {{> content}}
    </section>
  </div>
  <footer>
	<div class="row">
		<div class="span8 offset4">
			<ul>
				<li>
					<a href="/termsandconditions">Terms and conditions</a>
				</li>
				<li>
					<a href="/privacypolicy">Privacy policy</a>
				</li>
				<li>
					<a href="/pricing">Pricing</a>
				</li>
				<li>
					<a href="/">Invoice management software</a>
				</li>
				<li>
					<a href="/support">Support</a>
				</li>	
				<li>
					<a href="/cancelaccount">Cancel account</a>
				</li>	
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="redskyforge span8 offset4">· A <a href="http://redskyforge.com"><strong>Red Sky Forge</strong></a> product ·<br>
	<span class="small">Version 1.0</span></div>
	</div>
  </footer>

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-44909986-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</body>
</html>