<div class="row">
	<div class="span6 hidden-phone">
		<div class="ipad"></div>
	</div>
	<div class="span6 story-text">
		<h1>&quot;Tracking invoices by hand costs time we don't have&quot;</h1>

		<h3>As our business grew, we found ourselves constantly playing catch up with invoices. We wanted software that ensured everything was paid on time. Invoice Runner fit our needs and our accounts are always in order.</h3>

		<h4>Invoice Runner is:</h4>
		<ul>
			<li><i class="fa fa-check"></i> Incredibly easy to use</li>
			<li><i class="fa fa-check"></i> Super fast - optimized for speed</li>
			<li><i class="fa fa-check"></i> Works perfectly on mobile, tablets and computers</li>
		</ul>
		<div class="resp-icons">
			<i class="fa fa-mobile fa-5x"></i>
			<i class="fa fa-tablet fa-5x"></i>
			<i class="fa fa-desktop fa-5x"></i>
		</div>
	</div>
</div>
<div class="row">
	<div class="span12 screenshots-row">
		<div>
			<a href="/invoice-runner-view-invoice.png" target="_blank">
				<img src="/invoice-runner-view-invoice.png">
				<h3>Easily view, open and save scans or PDFs of invoices</h3>
			</a>
		</div>

		<div>
			<a href="/invoice-runner-upload-invoice.png" target="_blank">
				<img src="/invoice-runner-upload-invoice.png">
				<h3>Upload your invoices from anywhere, even your phone camera</h3>
			</a>
		</div>

		<div>
			<a href="/invoice-runner-pay-invoice.png" target="_blank">
				<img src="/invoice-runner-pay-invoice.png">
				<h3>Manage payment information and track payments</h3>
			</a>
		</div>

	</div>
</div>
<div class="clearfix"></div>
<div id="freetrialAnchor" class="row">
	{{> public_freetrial}}
</div>
