	<div class="span12 freetrial">
		<h3>Start managing your invoices today. Take the stress out of tracking what's due, when, and to who.</h3>
    <form class="form-horizontal signup-group">
      <div class="control-group">
        <label class="control-label" for="email">
          Email:
        </label>
        <div class="controls">
          <input type="email" id="verifyEmail" name="email">
          <span class="error hide text-error">Invalid email</span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="password">
          Password:
        </label>
        <div class="controls">
          <input type="password" name="password">
        </div>
      </div>
  	<div class="control-group">
  		<label class="control-label"></label>
  		<div class="controls">
  			<label class="checkbox">
  				<input id="terms" type="checkbox"> I have read the <a href="/termsandconditions">Terms and Conditions</a>
  			</label>
  		</div>
  	</div>
  	<div class="control-group">
  		<label class="control-label"></label>
  		<div class="controls">
  				<button class="btn btn-success freetrial-btn">Submit</button>
  			</div>
  		</div>
      <div class="trial-footer">
      	<h4>Signing up to our free trial gives you a fully functional account with up to five invoices, so you can learn how Invoice Runner works and how it will help with the day-to-day running of your business.</h4>
      	<h4>You can upgrade to a paid plan at any time by clicking the <strong>&quot;Open full account&quot;</strong> button at the top of the page.</h4>
      </div>
    </form>
  </div>
